/* Google Fonts - Nanum Sans */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Sans:wght@400;600;700;800&display=swap");

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nanum Sans", system-ui, -apple-system, Segoe UI, Roboto,
    "Helvetica Neue", Arial, "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;

  /* 선명도 체감 개선 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #0b1220;
  background: #ffffff;
}
